<% var iframe = wikiflow_embed_options(post); %>
<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope>
    <div class="article-inner">
        <iframe id="embed_iframe" src="<%= iframe.src %>" title="<%= iframe.title %>" loading="<%= iframe.loading %>" referrerpolicy="<%= iframe.referrerpolicy %>"<% if (iframe.sandbox !== null) { %> sandbox="<%= iframe.sandbox %>"<% } %><% if (iframe.allow) { %> allow="<%= iframe.allow %>"<% } %><% if (iframe.allowfullscreen) { %> allowfullscreen<% } %>></iframe>
    </div>
</article>
