<div id="search-form-wrap">
<% var search = theme.search || {}; %>
<% if (search.insight) { %>
    <button type="button" class="search-form-trigger" aria-label="<%= __('index.search') %>" title="<%= __('index.search') %>"><%- wikiflow_icon('magnifying-glass') %></button>
<% } else { %>
    <%- search_form({ button: wikiflow_icon('magnifying-glass'), text: __('index.search') }) %>
<% } %>
</div>
<% if (search.insight) { %>
    <%- partial('_partials/search/insight') %>
<% } %>
