<% var updated = wikiflow_post_updated_time(post); %>
<% if (updated) { %>
    <div class="<%= class_name %>">
        <%- wikiflow_icon('arrows-rotate') %>
        <a href="<%= url_for(post.path) %>">
            <time datetime="<%= date_xml(updated) %>" itemprop="dateModified"><%= date(updated, date_format) %></time>
        </a>
    </div>
<% } %>
