<%- partial('_partials/head/head') %>
<body>
    <div id="container">
        <%- partial('_partials/header') %>
        <div class="outer">
            <% if (theme.customize && theme.customize.profile && theme.customize.profile.enabled) { %>
                <%- partial('_partials/profile', null, {cache: !config.relative_link}) %>
            <% } %>
            <% if (theme.customize && theme.customize.sidebar) { %>
                <%- partial('_partials/sidebar') %>
            <% } %>
            <section id="main"><%- body %></section>
        </div>
        <%- partial('_partials/footer', null, {cache: !config.relative_link}) %>
        <%- partial('_scripts/index') %>
    </div>
</body>
</html>
