<header id="header">
    <% var customize = theme.customize || {}; %>
    <% var menu = theme.menu || {}; %>
    <% var menuKeys = Object.keys(menu).filter(function (name) { return menu[name]; }); %>
    <div id="header-main" class="header-inner">
        <div class="outer header-main-inner">
            <a href="<%- url_for() %>" id="logo">
                <%- (customize.logo && customize.logo.enabled ? '<i class="logo"></i>':'') %>
                <span class="site-title"><%= config.title %></span>
            </a>
            <% if (menuKeys.length) { %>
                <nav id="main-nav">
                    <% menuKeys.forEach(function (name) { %>
                        <a class="main-nav-link" href="<%- url_for(menu[name]) %>"><%= name %></a>
                    <% }); %>
                </nav>
            <% } %>
            <div class="header-actions">
                <% if(customize.profile && customize.profile.enabled) { %>
                    <% var profile = customize.profile; %>
                    <nav id="sub-nav">
                        <div class="profile" id="profile-nav">
                            <a id="profile-anchor" href="javascript:;">
                                <img class="avatar" src="<%= ( profile.gravatar ? gravatar(profile.gravatar) : url_for(profile.avatar)) %>" />
                                <i class="fa fa-caret-down"></i>
                            </a>
                        </div>
                    </nav>
                <% } %>
                <%- partial('_partials/search/index') %>
            </div>
        </div>
    </div>
    <% if (menuKeys.length) { %>
        <div id="main-nav-mobile" class="header-sub header-inner">
            <nav class="outer mobile-menu">
                <% menuKeys.forEach(function (name) { %>
                    <a class="main-nav-link" href="<%- url_for(menu[name]) %>"><%= name %></a>
                <% }); %>
            </nav>
        </div>
    <% } %>
</header>
