<% var profile = theme.profile || {}; %>
<% var social = theme.social || {}; %>
<% var socialKeys = Object.keys(social).filter(function(name) { return social[name]; }); %>
<% var tagCount = site.tags.filter(function(tag) { return tag.length; }).length; %>
<aside id="profile">
    <div class="inner profile-inner">
        <div class="base-info profile-block">
            <img id="avatar" src="<%= ( profile.gravatar ? gravatar(profile.gravatar, 128) : url_for(profile.avatar)) %>" alt="<%= profile.author || config.title %>" />
            <h2 id="name"><%= profile.author %></h2>
            <h3 id="title"><%= profile.author_title %></h3>
            <span id="location"><%- wikiflow_icon('location-dot') %><%= profile.location %></span>
            <a id="follow" target="_blank" rel="noopener noreferrer" href="<%= profile.follow %>"><%= __('profile.follow') %></a>
        </div>
        <div class="article-info profile-block">
            <div class="article-info-block">
                <%= site.posts.length %>
                <span><%= (site.posts.length > 1 ? __('profile.posts') : __('profile.post')) %></span>
            </div>
            <div class="article-info-block">
                <%= tagCount %>
                <span><%= (tagCount > 1 ? __('profile.tags') : __('profile.tag')) %></span>
            </div>
        </div>
        <% if(socialKeys.length) { %>
        <div class="profile-block social-links">
            <table>
                <tr>
                    <% var tooltipClass = theme.social_icons && theme.social_icons.tooltip === false ? '' : 'class=tooltip'; %>
                    <% socialKeys.forEach(function(i) { %>
                    <td>
                        <a href="<%= url_for(social[i]) %>" target="_blank" rel="noopener noreferrer" title="<%= i %>" <%= tooltipClass %>>
                            <%- wikiflow_social_icon(i) %>
                        </a>
                    </td>
                    <% }); %>
                </tr>
            </table>
        </div>
        <% } %>
    </div>
</aside>
