<button type="button" data-url="<%= post.permalink %>" data-id="<%= post._id %>" class="article-share-link" aria-label="<%= __('article.share') %>" aria-expanded="false"><%- wikiflow_icon('share') %><%=__('article.share')%></button>
